<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>test1</h1>
    name : <span th:text="${name}"></span>
    <hr>
    memo : <span th:text="${memo}"> </span>
    <hr>
    memo.ID : <span th:text="${memo.id}"> </span><br>
    memo.TEXT : <span th:text="${memo.text}"> </span><br>
    memo.WRITER : <span th:text="${memo.writer}"> </span><br>
    <hr>
    <th:block th:if="${isAuth}">
        <div>로그인 상태입니다.</div>
    </th:block>
    <th:block th:unless="${isAuth}">
        <div>로그아웃 상태입니다</div>
    </th:block>
    <hr>
    <th:block>
        <div th:each="memo:${memoList}">
            <span th:text="${memo.id}"></span>
            <span th:text="${memo.text}"></span>
        </div>
    </th:block>
    <hr>
    <a th:href="@{/th/param1(id=${memo.id},text='aaa',writer='bbb')}">이동하기1</a><br>
    <a th:href="@{/th/param2/{id}/{text}/{writer}(id=${memo.id},text='aaa',writer='bbb')}">이동하기2</a>

    <script th:inline="javascript">
        const name=[[${name}]];
        console.log('name',name);

        const memo=[[${memo}]];
        console.log('memo',memo);

        const memoList=[[${memoList}]];
        console.log('memoList',memoList);
    </script>
</body>
</html>