/* 구글 아이콘 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.layout-1280{
  max-width: 1280px;
  margin: 0 auto;
}

/* 검색창 */
.serch {
  width: 100%;
  height: 100px;
}
.serch-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;

}
.serch-bar{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;

    height: 30px;
    width: 500px;
    border-radius: 15px;
    border: 1px solid #6EC3FF;
}
/* 검색 카테고리 */
.serch-bar>li:first-child{
  margin-right: 8px;
}
.serch-bar>li>select{
  border: 0;
  cursor: pointer;
}
.serch-bar>li>select>option{
  padding: 5px;
}
/* 검색 입력칸 */
.serch-bar>li>input[type="text"]{
  height: 80%;
  width: 330px;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: #fff;

  margin-left: 8px;
}
.serch-bar>li:nth-child(2)::before{
  content: "|";
  color: #6EC3FF;
}
.serch-bar>li>input[type="text"]:focus{
  background-color: rgba(255, 255, 255, .7);
}
/* 검색 버튼 */
.serch-bar>li>button{
  border: 0;
  background-color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
}
.material-symbols-outlined{
  font-size: 1.2rem;
  color: #6EC3FF;
}






/* 슬라이드 */
.slide{
  height: 500px;
  background-color: beige;
}
.slide-wrap{
  height: 100%;
  margin: 0 auto;

  overflow: hidden;

  position: relative;
}
/* 좌우 화살표 */
.slide-arrow{
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
}
.slide-arrow>span{
  cursor: pointer;
}
.slide-arrow>.material-symbols-outlined{
  font-size: 2rem;
}

.slide-content{
  width: 4000px;
  height: 100%;

  display: flex;
  align-items: center;
}
.slide-item{
  height: 100%;
  width: 1280px;

  background-color: aliceblue;
}




/* 카테고리 */
.category{

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  border-bottom: 1px solid #6EC3FF;
}
.category>span:first-child{
  min-width: 110px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #949494;

}


/* 게시판 */
.community{
  max-width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;

  background-color: #949494;
}
.community-board{
  max-width: 600px;
  min-width: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.community-board-idx{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.community-board-con{
  width: 100%;
}
.commu-line{
  height: 1px;
  width: 100%;
  background-color: #6EC3FF;
}
.row{
  padding: 10px 20px;
}



















.match-go {
  float: left;

  width: 50%;
  height: 350px;
  background-color: rgb(255, 130, 27);
}
