<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.5/kakao.min.js" integrity="sha384-dok87au0gKqJdxs7msEdBPNnKSRT+/mhTVzq+qOhcL464zXwvcrpjeWvyj1kCdq6" crossorigin="anonymous"></script>
</head>
<body>
  <h1>채너ㅓㅓㅓㅓㅓㅓㅓㅓㄹ</h1>
  <a href="javascript:void(0)" id="kakao-add-channel-button"></a>

  <script>
    console.log("kakao",Kakao);       // 카카오 객체가 제대로 불러와졌나 확인
    Kakao.init('9820a1130baf0503427eac9c6a4329dc');  // 사용하려는 앱의 JavaScript 키 입력

    // 채널 추가 버튼 생성
    Kakao.Channel.createAddChannelButton({
      container: '#kakao-add-channel-button',
      channelPublicId: '_BXyBn' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
    });


  </script>
</body>
</html>